<!DOCTYPE html>
<!-- Website template form http://www.cssmoban.com/ -->
<html>
<head>
	<meta charset="UTF-8">
	<title>About - ISTARFARMBLOG</title>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
	<div class="border">
		<div id="bg">
			background
		</div>
		<div class="page">
			<div class="sidebar">
				<a href="/" id="logo"><img src="images/logo.png" alt="logo"></a>
				<ul>
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
                    <li class="selected">
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
				</ul>
			</div>

			<div class="body">
				<div class="about">
					<h2>介绍</h2>
					<img src="images/paper-wheel.jpg" alt="">
					<h4><span>网站的基本介绍</span></h4>
					<p>
						可改为自我介绍
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>