<!DOCTYPE html>
<!-- Website template form http://www.cssmoban.com/ -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Blog -  ISTARFARMBLOG</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/custom.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" type="text/css">
</head>
<body>
<div class="border">
    <div id="bg">
        background
    </div>
    <div class="page">
        <div class="sidebar">
            <a href="/" id="logo"><img src="images/logo.png" alt="logo"></a>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="selected">
                    <a href="/blog">Blog</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>

        <div class="body" id="body">
            <div class="blog" id="blog">
                <h2>LSTARFARMING‘S RESENT BLOGS</h2>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <!--第二类-->
                            <div class="page-header">
                                <h1>
                                    计算机科学 	<small>Computer Science</small>
                                </h1>
                            </div>
                            <h2>
                                Language
                            </h2>
                            <div class="text-info" style="margin-top: 5px" id="language" >
                                <p><cite>编程语言学习，使用心得。</cite>
                                </p>
                                <div>
                                    <%- hotTitle1%>
                                </div>
                            </div>
                            <p id="le">
                                <a onclick="return false;" class="btn" href="#">更多 »</a>
                            </p>
                            <h2>
                                Ideology
                            </h2>
                            <div class="text-info" style="margin-top: 5px" id="ideology">
                                <p>
                                    <cite>伟大的思想能变成巨大的财富。</cite>
                                </p>
                                <div>
                                    <%- hotTitle2%>
                                </div>
                            </div>
                            <p id="iy">
                                <a onclick="return false" class="btn" href="#">更多 »</a>
                            </p>
                            <!--第二类-->
                            <div class="page-header">
                                <h1>
                                    读书笔记 	 <small>Reading Notes</small>
                                </h1>
                            </div>
                            <h2>
                                China
                            </h2>
                            <div class="text-info" style="margin-top: 5px" id="china">
                                <p>
                                    <cite>为学之道，莫先于穷理；穷理之要，必在于读书。</cite>
                                </p>
                                <div>
                                    <%- hotTitle3%>
                                </div>
                            </div>
                            <p id="ca">
                                <a onclick="return false" class="btn" href="#">更多 »</a>
                            </p>
                            <h2>
                                Foreign
                            </h2>
                            <div class="text-info" style="margin-top: 5px" id="foreign" >
                                <p>
                                    <cite>书中横卧着整个过去的灵魂。</cite>
                                </p>
                                <div>
                                    <%- hotTitle4%>
                                </div>
                            </div>
                            <p id="fn">
                                <a onclick="return false;" class="btn" href="#">更多 »</a>
                            </p>
                            <!--第二类完-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script charset="utf-8" src="/javascripts/jQuery.js"></script>
<script charset="utf-8" src="/javascripts/page.js"></script>

</body>
</html>