
<div class="container-fluid" style="margin-bottom: 30px">
    <div class="row-fluid">
        <h3 class="nav" style="text-align: center;background-color: whitesmoke;">文档</h3>
        <div class="col-md-12 column" style="margin-top: 10px;margin-left:-5%;margin-bottom:10px;width: 110%">
            <%- titles%>
            <div class="pagination" style="margin-top: 10px">
                <%- pages%>
            </div>
        </div>
    </div>
</div>
<script charset="utf-8" src="/javascripts/page.js"></script>
