<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>上传作业</title>
	<link rel="Shortcut Icon" href="/favicon.ico" />
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
 <!--       <script src="js/jQuery.js"></script> -->
    </head>
    <body>
        <header>
            <h2> 文件上传</h2>
        </header>
        <div class="container">
            <div class="upload_form_cont" style="border-style: groove;border-radius: 2%;">
                <form style="padding-left: 30%" id="upload_form" enctype="multipart/form-data" method="post" action="/upload/upload">
                    <div>
                        <div><label for="file"><br></bt><h3 style="color: red;"><%= title%></h3> </label></div>
                        <div style="margin-top:10px"><input type="text" name="name" placeholder="姓名"/>  </div>
                        <div style="margin-top:10px"><input type="password" name="password" placeholder="密码"/></div>
                        <div style="margin-top:10px"><input type="file" name="upload" id="file"/></div>
                    </div>
                    <div>
                        <input type="submit" value="Upload"/>
                    </div>
                </form>
                <img id="preview" />
            </div>
        </div>
    </body>
</html>
